@model AdvancedAjax.Models.City

<form asp-action="Create" asp-controller="City" id="createCityForm" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#createModelDialog .modal-body" data-ajax-success="onCityCreated">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId" class="control-label">Country</label>
        <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Countries"></select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form> 